## About the Dataset
This dataset is having data of customers who buys clothes online. The store offers in-store style and clothing advice sessions. Customers come in to the store, have sessions/meetings with a personal stylist, then they can go home and order either on a mobile app or website for the clothes they want.


_There are eight features in the dataset_
- Email : The email address of th customer
- Address : The address of the customer 
- Avatar : The customer's unique identifier
-  Avg. Session Length : Average session length
- Time on App: Time spent by customer on the vendor's app
- Time on Website : Time spent by customer on the vendor's website
- Length of Membership : How long the customer has been a member
- Yearly Amount Spent: The total amount spent in  a year by the customer

**The company is trying to decide whether to focus their efforts on their mobile app experience or their website.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('ecommerce_data.csv')
data.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [6]:
data.shape

(500, 8)

In [8]:
data.size

4000

There are 500 records in the dataset.

#### Checking For Missing Data

In [13]:
data.isnull().sum().sum()

0

There are no missing values

#### Checking for duplicates

In [16]:
data.duplicated().sum()

0

There are no duplicates in the dataset

### What are the main feature(s) of interest in the dataset?
> The company is trying to on mobile or website experience of the customer